{
    "extends": ["eslint:recommended", "plugin:ava/recommended", "prettier"],
    "parserOptions": {
        "ecmaVersion": 8,
        "sourceType": "script"
    },
    "plugins": ["ava"],
    "env": {
        "node": true
    }
}
